{{ log this }}

<div class="item-card">
	<div class="imageAndName">
		<img src="{{img}}" />
		<span>{{ name }}</span>
	</div>
	<label>{{ localize (concat "TYPES.Item." type) }}</label>

	{{#if (eq type "gear") }}
		<div class="data-table">
			<div><label class="balls1">Rating:</label> {{ system.rating }}</div>
			<div><label class="balls1">Size:</label> {{ GearSizeToString system.size }}</div>
			<div><label class="balls1">Cost:</label> {{ solveFormula system system.costFormula }}</div>
			<div><label class="balls1">Availability:</label> {{ GearAvailabilityToString system.availability }}</div>
			{{#unless (undefined system.matrix) }}
				<div><label class="balls1">Sim Modes:</label> {{ GearAvailabilityToString system.availability }}</div>
			{{/unless}}
		</div>
	{{/if}}

	<div class="description">{{{ description }}}</div>

	{{#if (eq type "gear") }}
		<div class="details-grid">
			<label class="balls1">Balls</label>
			<label class="balls2">Balls</label>
			<span class="balls1">asdfsdf</span>
			<span class="balls2">asdfsdfasdf</span>
		</div>
	{{/if}}
</div>
