
<hr/>
{{#if (gt roll.options.attack.targetIds.length 0)}}
	{{ var "targets" (getActorsByIds roll.options.attack.targetIds) }}
	<i style="font-weight: bold; font-style: italic"><a class="chat-expand-target-box">Targets:</a></i><br/>
	<div class="chat-target-box" style="display: none">
		{{#each targets }}
			<div><a class="click-actor" data-actor-id="{{this.uuid}}">{{this.name}}</a></div>
		{{/each}}
	</div>
	<hr/>
{{/if}}

<div class="chat-tooltip chat-dice-collapsible" style="display: none">
	<section>
		<div class="roll">
			{{#each roll.sides as |num id|}}
			<i class="dice" data-die="{{num}}">&nbsp; </i>
			{{/each}}
		</div>
	</section>
</div>
{{#if roll.isOwner }}
<input id="chat-9-expand" type="button" class="chat-edge" value="Spend Edge"/>
{{/if}}
<div class="chat-9-collapsible" style="display: none">
	<section>
		<div>
			<select id="edge-boost">
				<option>Balls</option>
			</select>
		</div>
		<input id="spend-edge" type="button" class="chat-edge" value="Spend"/>
	</section>
</div>
{{ log final_damage }}
{{#unless (undefined final_damage) }}
<div class="chat-roll-menu">
	<a class="fas fa-minus fa-2xl damage" title="Damage ({{final_damage}})">&nbsp;</a>
	<a class="fas fa-plus fa-2xl heal" title="Heal ({{final_damage}})">&nbsp;</a>
	<a class="fas fa-minus fa-2xl damage" title="Damage ({{final_damage}})">&nbsp;</a>
	<a class="fas fa-plus fa-2xl heal" title="Heal ({{final_damage}})">&nbsp;</a>
</div>
{{/unless}}
