<a class="click-actor" data-actor-id="{{actor.uuid}}">
<h3>
	{{#unless (undefined actor)}}
	<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="24" width="24" />
	{{/unless}}
{{#unless (undefined actor)}}
{{actor.name}}
{{/unless}}
</h3>
</a>
<h4><i style="font-size: 16px"><a class="chat-action-expand-text">{{#if (eq roll.options.type 1) }}Attribute ({{ localize (concat "SR6.Attributes." roll.options.attribute) }}){{/if}}</a></i></h4>
<header class="part-header flexrow chat-expand-dice">
	<div id="formula">{{roll.formula}}</div>
	<br/>
	<div class="resulttext" style="flex:2">
		<i id="hits" style="font-weight: bold">{{roll.hits}}</i> hits</div>

	<br/>
	{{#if roll.is_critical_glitch}}
	<span class="critical-glitch">Critical Glitch!</span><br/>
	{{else roll.is_glitch}}
	<span class="glitch">Glitch!</span><br/>
	{{/if}}
</header>
<hr/>
