{{ log this }}
<h3>
	<div style="width: 100%; text-align: center">{{title}}</div>
	{{#unless (undefined actor)}}
		<a class="click-actor" data-actor-id="{{actor.uuid}}">
			<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="24" width="24" />
		</a>
	{{/unless}}
	{{#unless (undefined item) }}
		<a class="click-item" data-item-id="{{item.uuid}}">
			<img class="profile-img" style="float: right" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="24" width="24" />
		</a>
	{{/unless}}
	<div style="width: 100%">
		{{#unless (undefined actor)}}
		<div style="float: left"><a class="click-actor" data-actor-id="{{actor.uuid}}">{{actor.name}}</a></div>
		{{/unless}}
		{{#unless (undefined item) }}
		<div style="float: right">
			<a class="chat-0-expand" style="font-style: italic; font-weight: bold">
				<span style="font-size: 16px; float: right">
					{{item.name}}
				</span>
			</a>
		</div>
		<br/>
		{{/unless}}
	</div>
</h3>
<header class="part-header flexrow chat-expand-dice">
	<div id="formula">{{roll.pool}}d6</div>
	<br/>
	<div class="resulttext" style="flex:2">
		<i id="hits" style="font-weight: bold">{{roll.hits}}</i> hits</div>

	<br/>
	{{#unless (null roll.options.threshold) }}
		{{#if roll.success }}<span class="success">Success!</span>
		{{else}}<span class="failure">Failure!</span>{{/if}}
	{{/unless}}
</header>
{{#if roll.is_critical_glitch}}
	<header class="part-header flexrow chat-expand-dice">
		<span class="critical-glitch">Critical Glitch!</span><br/>
	</header>
{{else roll.is_glitch}}
	<header class="part-header flexrow chat-expand-dice">
		<span class="glitch">Glitch!</span><br/>
	</header>
{{/if}}
<hr/>
