{{ log this }}
<h3>
	{{#unless (undefined actor)}}
		<img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="24" width="24" />
	{{/unless}}
	{{#unless (undefined actor)}}
		{{actor.name}}
	{{/unless}}
</h3>
<header class="part-header flexrow">
	<div id="formula">{{roll.formula}}</div>
	<br/>
	<div class="resulttext">
			{{roll.total}}
	</div>
</header>
<hr/>
