{{ var "spell" (getItemById roll.options.previous.attack.itemId) }}
{{ var "final_damage" (sub roll.options.threshold roll.hits) }}
{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Soak Damage" item=spell }}
<div class="roll">
	{{#if roll.success }}
		<i style="color: #006400">Soaked Successfully!</i>
	{{ else }}
		<a class="chat-0-expand" style="font-style: italic">
			Took <i style="font-weight: bold; color: rgb(194, 76, 29);">{{ final_damage }}</i> Damage
		</a>
		<br/>
		<div class="formula chat-0-collapsible" style="display: none">
			<div>{{ roll.options.threshold }} - {{roll.hits}} = {{ final_damage }}</div>
		</div>
	{{/if }}
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
