{{ var "spell" (getItemById roll.options.attack.itemId) }}
{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Resist Drain" item=spell }}

<div class="roll">
	<div>Drain: <i class="data-value">{{roll.options.attack.damage}}</i></div>

	<hr/>
	<div class="chat-0-collapsible" style="display: none">
		<section>
			<div>
				<div>Type <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Types." spell.systemData.type) }}</i></div>
				<div>Range <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Ranges." spell.systemData.range.type) }}</i></div>
				<div>Duration <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Durations." spell.systemData.duration.type) }}</i></div>
				<div style="font-size: 10px">{{ spell.systemData.description }}</div>
			</div>
			<hr/>
		</section>
	</div>
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
