{{ var "net_damage" (sub roll.options.attack.damage roll.net_hits) }}
{{ var "spell" (getItemById roll.options.attack.itemId) }}
{{ var "attacker" (getActorById roll.options.attack.attackerId) }}
{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Spell Defend" item=spell }}

<div class="roll">
	Defending against  <a class="chat-0-expand" style="font-style: italic; font-weight: bold">{{ spell.name }}</a>
	cast by <i style="font-weight: bold; font-style: italic">{{attacker.name}}</i><br/>
	<br/>

{{#unless roll.success }}
	<div><a  class="chat-1-expand">Damage:  <i class="dv">{{ net_damage }}</i></a></div>
	<div class="formula chat-1-collapsible" style="display: none">
		<div>{{ roll.options.attack.damage }} + {{ roll.options.threshold }} - {{roll.net_hits}} = {{ net_damage }}</i></div>
	</div>
	<div><i class="data-value">{{ localize (concat "SR6.Magic.Spell.CombatTypes." spell.systemData.damage.combat) }}
		{{ localize (concat "SR6.Combat.DamageTypes." spell.systemData.damage.type) }}
		{{ localize (concat "SR6.Magic.Spell.DamageForms." spell.systemData.damage.form) }}
	</i></div>
{{/unless}}

	<hr/>
	<div class="chat-0-collapsible" style="display: none">
		<section>
			<div>
				<div>Type <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Types." spell.systemData.type) }}</i></div>
				<div>Range <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Ranges." spell.systemData.range.type) }}</i></div>
				<div>Duration <i class="data-value">{{ localize (concat "SR6.Magic.Spell.Durations." spell.systemData.duration.type) }}</i></div>
				<div style="font-size: 10px">{{ spell.systemData.description }}</div>
			</div>
			<hr/>
		</section>
	</div>

	{{#if (and roll.isOwner spell.systemData.canSoak) }}
		<input id="roll-spell-soak" type="button" value="Soak Damage"/>
	{{/if}}
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
