{{ var "net_damage" (add roll.options.attack.damage roll.net_hits) }}
{{ var "weapon" (getItemById roll.options.attack.itemId) }}
{{ var "targets" (getActorsByIds roll.options.attack.targetIds) }}
{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Attack" item=weapon }}


<div class="roll">
	<i class="data-value">{{ localize (concat "SR6.Combat.Distances." roll.options.attack.distance) }}</i> distance
	<i class="data-value">{{ localize (concat (concat "SR6.Combat.FireModes." roll.options.attack.firemode) ".Name") }}</i>
	with <a class="chat-0-expand click-item" data-item-id="{{weapon.uuid}}" class="data-value">{{ weapon.name }}</a><br/>

	<div>
		<a class="chat-2-expand" style="font-style: italic">Damage: <i class="data-value dv">{{ net_damage }}</i></a>
	</div>
	<div class="formula chat-2-collapsible" style="display: none">
		DV(<i class="data-value">{{roll.options.attack.damage}}</i>) + Hits(<i class="data-value">{{roll.net_hits}}</i>) = <i class="dv">{{ net_damage }}</i>
	</div>
	<div>
		Attack Rating: <i class="data-value">{{ roll.options.attack.attackRating }}</i>
	</div>
	<hr/>
	<div class="chat-0-collapsible" style="display: none">
		<section>
			<div>DV <i class="data-value">{{weapon.systemData.damage}}</i></div>
			<div>AR
				{{weapon.systemData.attackRatings.close }} /
				{{weapon.systemData.attackRatings.near }} /
				{{weapon.systemData.attackRatings.medium }} /
				{{weapon.systemData.attackRatings.far }} /
				{{weapon.systemData.attackRatings.extreme }}
			</div>
			<div class="formula">{{weapon.systemData.description}}</div>
			<hr/>
		</section>
	</div>
	{{#if (showRollDefense actor targets) }}
		<input id="roll-weapon-defense" type="button" value="Roll Defense"/>
	{{/if}}
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
