{{ var "net_damage" (sub roll.options.attack.damage roll.hits) }}
{{ var "weapon" (getItemById roll.options.attack.itemId) }}
{{ var "attacker" (getActorById roll.options.attack.attackerId) }}

{{> "systems/sr6/templates/chat/rolls/shared/header.hbs" title="Defense" item=weapon }}
<div class="roll">
	Defending against  <a class="chat-1-expand" style="font-style: italic; font-weight: bold">{{ weapon.name }}</a>
	shot by <i style="font-weight: bold; font-style: italic">{{attacker.name}}</i><br/>
	</br>
	{{#unless roll.success }}
		<a class="chat-2-expand" style="font-style: italic">
			Damage: <i class="dv">{{ net_damage }}</i>
		</a>
		<br/>
		<div class="formula chat-2-collapsible" style="display: none">
			<div>DV: DV(<i class="data-value">{{weapon.systemData.damage}}</i>) + Hits(<i class="data-value">{{roll.options.threshold}}</i>) = <i class="dv">{{ roll.options.attack.damage }}</i></div>
			<div>Final: DV(<i class="data-value">{{ roll.options.attack.damage}}</i>) - Hits(<i class="data-value">{{ roll.hits }}</i>) = <i class="dv">{{ net_damage }}</i></div>
		</div>
		<div class="chat-1-collapsible" style="display: none">
			<section>
				<div>DV <i class="data-value">{{weapon.systemData.damage}}</i></div>
				<div>AR
					{{weapon.systemData.attackRatings.close }} /
					{{weapon.systemData.attackRatings.near }} /
					{{weapon.systemData.attackRatings.medium }} /
					{{weapon.systemData.attackRatings.far }} /
					{{weapon.systemData.attackRatings.extreme }}
				</div>
				<div class="formula">{{weapon.systemData.description}}</div>
				<hr/>
			</section>
		</div>
		<hr/>
		{{#if roll.isOwner }}
			<input id="roll-weapon-soak" type="button" value="Soak Damage"/>
		{{/if}}
	{{/unless }}
</div>
{{> "systems/sr6/templates/chat/rolls/shared/footer.hbs" }}
